<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyTrek - 부트캠프 리뷰 랭킹</title>
  <link rel="stylesheet" th:href="@{/css/rank/Rank.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/ranktopsearch.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5.0.0/dark.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script th:src="@{/js/scripts.js}" defer></script>
  <script th:src="@{/js/ranktopsearch.js}" defer></script>
</head>

<body th:classappend="${isDarkMode} ? 'dark' : ''">
<div th:replace="~{'fragments/topbar' :: topbar}"></div>
<div class="container">
  <div th:replace="~{'fragments/sidebar' :: sidebar(isSidebarOpen=${isSidebarOpen}, isDarkMode=${isDarkMode})}"></div>
  <div class="content-wrapper">
    <div class="content">
      <div th:replace="~{'fragments/ranktopsearch' :: ranktopsearch}"></div>
      <div class="categories">
        <input type="radio" id="category-lecture" name="category" value="최신순" class="category-radio" required>
        <label for="category-lecture" class="category-label">최신순</label>

        <input type="radio" id="category-instructor" name="category" value="인기순" class="category-radio">
        <label for="category-instructor" class="category-label">인기순</label>
      </div>
      <div class="ranking-list" id="resultsContainer">
        <!-- JavaScript를 통해 동적으로 항목들이 추가될 예정입니다. -->
      </div>
      <div class="pagination">
        <button>이전</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button>다음</button>
      </div>
    </div>
  </div>
</div>
<button class="open-sidebar-button hidden" th:onclick="|javascript:toggleSidebar()|">
  <img th:src="@{/images/icon-show-sidebar.svg}" alt="사이드바 아이콘 보이기"/>
</button>
<script th:src="@{/js/rank/Rank.js}"></script>
</body>
</html>