<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="sidebar(isSidebarOpen, isDarkMode)">
    <div class="sidebar" th:classappend="${isSidebarOpen} ? '' : 'closed'">
        <nav class="sidebar-menu">
            <a class="sidebar-link" th:href="@{/home}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Home</span>
            </a>
            <a class="sidebar-link" th:href="@{/profile}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Profile</span>
            </a>
            <a class="sidebar-link" th:href="@{/question}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Question</span>
            </a>
            <a class="sidebar-link" th:href="@{/review}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Review</span>
            </a>
            <a class="sidebar-link" th:href="@{/camp}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Camp</span>
            </a>
            <a class="sidebar-link" th:href="@{/study/main}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Study</span>
            </a>
            <a class="sidebar-link" th:href="@{/rank}">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>Rank</span>
            </a>
            <a class="sidebar-link" th:href="@{/chat}" onclick="checkTokenAndRedirect(event)">
                <img th:src="@{/images/icon-board.svg}" alt="icon" /><span>실시간 채팅</span>
            </a>
        </nav>
        <div class="theme-toggle">
            <img th:src="@{/images/icon-light-theme.svg}" alt="Light Theme Icon" />
            <div class="toggle-container" th:onclick="|javascript:toggleTheme()|">
                <div class="toggle-circle" th:classappend="${isDarkMode} ? 'dark' : ''"></div>
            </div>
            <img th:src="@{/images/icon-dark-theme.svg}" alt="Dark Theme Icon" />
        </div>
        <button class="close-sidebar-button" th:onclick="|javascript:toggleSidebar()|">
            <img th:src="@{/images/icon-hide-sidebar.svg}" alt="Hide Sidebar Icon" />
        </button>
    </div>
    <script>
        function checkTokenAndRedirect(event) {
            const token = localStorage.getItem('accessToken');
            if (!token) {
                event.preventDefault(); // 링크 기본 동작을 막음
                Swal.fire({
                    title: '접근 실패',
                    text: '로그인이 필요한 서비스입니다.',
                    icon: 'error',
                    confirmButtonText: '확인'
                }).then(() => {
                    window.location.href = '/auth';
                });
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            const path = window.location.pathname;
            if (path.startsWith('/chat')) {
                const token = localStorage.getItem('accessToken');
                if (!token) {
                    Swal.fire({
                        title: '접근 실패',
                        text: '로그인이 필요한 페이지입니다.',
                        icon: 'error',
                        confirmButtonText: '확인'
                    }).then(() => {
                        window.location.href = '/auth'; // 로그인 페이지로 리다이렉트
                    });
                }
            }
        });
    </script>
</div>
</body>
</html>
