<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topbar</title>
</head>
<body>
<div th:fragment="topbar">
    <div class="topbar">
        <div class="logo">
            <a th:href="@{/home}" id="logoLink"><img class="logo-img" th:src="@{/images/logo.png}" height="60" width="60"/></a>
        </div>
        <nav class="topbar-menu">
            <a class="topbar-link" href="#" onclick="refreshPage()"><span>Welcome</span></a>
            <a class="topbar-link" href="#" onclick="refreshPage()"><span>To</span></a>
            <a class="topbar-link" href="#" onclick="refreshPage()"><span>Study Trek</span></a>
        </nav>
        <button class="add-task-button" id="adminButton" onclick="location.href='/admin'" style="display: none;">ADMIN</button>
        <button class="add-task-button" id="loginButton" onclick="location.href='/auth'">Login</button>
    </div>
</div>
</body>
</html>
