body {
    background-color: var(--body-bg);
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--sidebar-bg);
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: width 0.3s ease;
    overflow: hidden;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar.closed {
    width: 0;
}

.sidebar-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    margin-top: 80px;
    flex-grow: 1;
}

.sidebar-link {
    width: 100%;
    padding: 15px 20px;
    text-align: left;
    text-decoration: none;
    color: var(--color);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.sidebar-link:hover {
    background: linear-gradient(135deg, #6c5ce7, #8e44ad);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateX(10px);
}

.sidebar-link img {
    margin-right: 10px;
    flex-shrink: 0;
}

.theme-toggle {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-container {
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 5px;
}

.toggle-circle {
    width: 21px;
    height: 21px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

.toggle-circle.dark {
    left: 27px;
}

.topbar {
    width: 100%;
    height: 60px;
    background-color: var(--sidebar-bg);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-sizing: border-box;
}

.topbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.topbar-link {
    margin: 0 30px;
    text-decoration: none;
    color: var(--color);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: font-size 0.3s ease, color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.topbar-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(135deg, #6c5ce7, #8e44ad);
    transition: width 0.3s ease, left 0.3s ease;
}

.topbar-link:hover::after {
    width: 100%;
    left: 0;
}

.topbar-link:hover {
    font-size: 20px;
    color: #6c5ce7;
    transform: translateY(-2px);
}

.black-text {
    color: black !important;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.add-task-button {
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    margin-left: 10px;
}

.add-task-button:hover {
    background: linear-gradient(135deg, #6c5ce7, #8e44ad);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.main-container {
    display: flex;
    margin-top: 60px;
}

.content {
    margin-left: 280px;
    transition: margin-left 0.3s ease;
    flex: 1;
    overflow: hidden;
}

.sidebar.closed + .content {
    margin-left: 30px;
}

.open-sidebar-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--sidebar-bg);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    z-index: 1500;
    display: none;
}


.open-sidebar-button img {
    width: 24px;
    height: 24px;
}

.open-sidebar-button.hidden {
    display: flex;
}

.open-sidebar-button:hover {
    background: linear-gradient(135deg, #6c5ce7, #8e44ad);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.close-sidebar-button {
    width: 50px;
    height: 50px;
    background-color: var(--sidebar-bg);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
    margin: 20px 0;
}

.close-sidebar-button img {
    width: 24px;
    height: 24px;
}

.close-sidebar-button:hover {
    background: linear-gradient(135deg, #6c5ce7, #8e44ad);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* Dark and Light Theme Variables */
:root {
    --sidebar-bg: #fff;
    --body-bg: #f0f0f0;
    --color: #000;
    --hover-bg: #e0e0e0;
}

body.dark {
    --sidebar-bg: #20212C;
    --body-bg: #2B2C37;
    --color: #FFFFFF;
    --hover-bg: #3A3B47;
}
