<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/scripts.js}" defer></script>
</head>
<body th:classappend="${isDarkMode} ? 'dark' : ''">
<div th:replace="~{'fragments/topbar' :: topbar}"></div>
<div class="main-container">
    <div th:replace="~{'fragments/sidebar' :: sidebar(isSidebarOpen=${isSidebarOpen}, isDarkMode=${isDarkMode})}"></div>
    <div class="content">
        <h1>Welcome Home!</h1>
        <p>You have successfully logged in.</p>
    </div>
</div>
<button class="open-sidebar-button hidden" th:onclick="|javascript:toggleSidebar()|">
    <img th:src="@{/images/icon-show-sidebar.svg}" alt="Show Sidebar Icon" />
</button>
</body>
</html>
